<form [formGroup]="imageForm" (ngSubmit)="editImage()" class="flex flex-column gap-3 mt-3">
	<div>
		<label for="image" class="block mb-1 text-color text-base">Image Name</label>
		<span class="p-input-icon-left w-full">
			<i class="pi pi-image"></i>
			<input formControlName="name" name="image" type="text" class="w-full" id="image" pInputText />
		</span>
	</div>
	<div class="flex flex-row w-full justify-content-end">
		<button pButton type="submit" class="w-min" label="Save" icon="pi pi-save"></button>
	</div>
</form>
